
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex {
  display: flex;
}
.dark-1{
  color: #131313;
}
.dark-2{
  color: #424242;
}
.dark-3{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */
/* navbar related styles */
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  ;
}
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700px;
  font-size: 3rem;;
}
.navbar , .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main>section{
  margin-top: 130px;
}

/* banner related styles */

.banner-title{
  font-weight: 700;
  font-size: 2.5rem;
  
}
.banner-content{
  max-width: 868px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-image{
  width: 100%;
}
/* teams and features */
.teams{
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.our-features{
  margin-left: 73px;
  max-width: 537px;
  margin-bottom: 32px;
}
.feature-title{
  font-weight: 600;
  font-size: 2.5rem;
}
.feature-description{
  margin-top: -32px;
}

#part2 , #part3{
  font-weight: 800;
}
#part3{
  color: #FF900E;
}

/* responsive styles */
@media screen and (max-width:576px){
  .navbar , .nav-links , .teams{
    flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1,1fr);
  }
  .our-features{
        margin: 10px 10px;
  
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
  }
}